<div class="container">

  <div class="row">
    <div class="row-height" ng-controller="YoutubeController">
      <div class="col-xs-6 col-sm-3 col-sm-height col-sm-top">
      	<div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <i class="fa fa-headphones"></i> Queue
                    <div class="btn-group pull-right">
                    </div>
                </div>
            <div class="panel">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in urls">
                                <b>{{item.username}} : </b>
                                {{item.url}}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" ng-model="newUrl" placeholder="New Youtube Url" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" ng-click="add()" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-height">
        <div class="inside inside-full-height">
          <div class="content">
            <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>  
            <br />
            <button class="btn btn-default btn-sm btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
            <!--<button class="btn btn-default btn-primary" ng-click="sendControlEvent(YT_event.STOP)">Stop</button>
            <button class="btn btn-default btn-primary" ng-click="sendControlEvent(YT_event.PAUSE)">Pause</button>
            <button class="btn btn-default btn-primary" ng-click="sendControlEvent(YT_event.PLAY)">Play</button>-->
            <button class="btn btn-default btn-sm btn-primary" ng-click="stopDisplay()"><i class="fa fa-stop"></i> Stop Display</button>
            <button class="btn btn-default btn-sm btn-primary" ng-click="resetList()"><i class="fa fa-eraser"></i> Reset Dj List</button>
            <button class="btn btn-default btn-sm btn-primary" ng-click="pass()"><i class="fa fa-forward"></i> Pass</button>
            <button class="btn btn-default btn-sm btn-success" ng-click="addVote('+1')"><i class="fa fa-thumbs-up"></i> +1</button>
            <button class="btn btn-default btn-sm btn-danger" ng-click="addVote('-1')"><i class="fa fa-thumbs-down"></i> -1</button>
            <span class="label label-warning">{{likes}} : {{unlikes}}</span>
            <p><i class="fa fa-youtube-play"></i> Player status is: {{yt.playerStatus}}</p>  
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-sm-height col-sm-top" ng-controller="MessagesController">
      	<div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <i class="fa fa-comment"></i> Chat
                    <div class="btn-group pull-right">
                    </div>
                </div>
            <div class="panel">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="message in messages">
                                <b>{{message.username}} : </b>
                                {{message.data}}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" ng-model="message" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" ng-click="addMessage()" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
            
            </div>
        <!--<div class="inside inside-full-height">
          <div class="content">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="message in messages">
                <b>{{message.email}} :</b> {{message.body}}
                <span class="badge">
                  <span class="delete-button" ng-click="deleteMessage(message)">X</span>
                </span>
              </li>
            </ul>
            <form name="newMessageForm" novalidate class="form-inline">
              <div class="input-group">
                <input class="form-control" type="text" name="body" ng-model="newMessage" placeholder="New message">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" ng-click="createMessage()">Create Message</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"> Chat</i></h3>-->
      </div>
     </div>
  </div>
</div>